
{% extends 'base.html' %}


{% block title %} print full pyramid a using numbers {% endblock %}
{% block body%}
<div class="container">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
  <br>
  <div class="list-group" style="max-width: 380px;">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Python Example
  </a>
 <a href="{% url 'py' %}" class="list-group-item list-group-item-action">Print Hello world!</a>
  <a href="{% url 'first' %}" class="list-group-item list-group-item-action">Add Two Numbers</a>
  <a href="{% url 'addnum' %}"class="list-group-item list-group-item-action">Add Two Numbers With User Input</a>
  <a href="{% url 'swap' %}" class="list-group-item list-group-item-action">Swap Two Variables</a>
  <a href="{% url 'randomnum' %}" class="list-group-item list-group-item-action">Generate a Random Number</a>
  <a href="{% url 'factno' %}" class="list-group-item list-group-item-action">Find the Factorial of a Number</a>
  <a href="{% url 'prime' %}" class="list-group-item list-group-item-action">Check Prime Number</a>
  <a href="{% url 'primeno' %}" class="list-group-item list-group-item-action">Print all Prime Numbers in an Interval</a>
  <a href="{% url 'divi' %}" class="list-group-item list-group-item-action">Find Numbers Divisible by Another Number</a>
  <a href="{% url 'ascii' %}" class="list-group-item list-group-item-action">Find ASCII Value of Character</a>
  <a href="{% url 'areatri' %}" class="list-group-item list-group-item-action">Calculate the Area of a Triangle</a>
  <a href="{% url 'armstrongnum' %}" class="list-group-item list-group-item-action">Check Armstrong Number</a>
  <a href="{% url 'celsius' %}"class="list-group-item list-group-item-action">convert Celsuis to Fahrenheit</a>
  <a href="{% url 'dectobin' %}" class="list-group-item list-group-item-action">Decimal to Binary, Octal and Hexadecimal</a>
  <a href="{% url 'fib' %}" class="list-group-item list-group-item-action">Print the Fibonacci sequence</a>
  <a href="{% url 'fpyramid' %}" class="list-group-item list-group-item-action">print full pyramid a using numbers</a>
  <a href="{% url 'hpyramid' %}" class="list-group-item list-group-item-action">print half pyramid using *</a>
  <a href="{% url 'kmtomi' %}" class="list-group-item list-group-item-action">Program to Convert Kilometers to Miles!</a>
  <a href="{% url 'oddeven' %}" class="list-group-item list-group-item-action">Program to Check if a Number is Odd or Even</a>
  <a href="{% url 'palindrome' %}" class="list-group-item list-group-item-action">Check Whether a String is Palindrome or Not</a>
  <a href="{% url 'sortwords' %}" class="list-group-item list-group-item-action">Sort Words in Alphabetic Order</a>
</div>
    </div>
<div class="col-lg-6">
  <br>
  <h2>Python Program to print full pyramid a using numbers</h2>
<br>
In this example, you will learn to print full pyramid. 
    <div class="container- p-5 my-5 border" style="background-color:powderblue">
      <strong>
        Source code
      </strong>
      <br>
      <code>
        rows = int(input("Enter number of rows: "))<br>

        k = 0<br>
        count=0<br>
        count1=0<br>
        
        for i in range(1, rows+1):<br>
            for space in range(1, (rows-i)+1):<br>
                print("  ", end="")<br>
                count+=1<br>
            
            while k!=((2*i)-1):<br>
                if count<=rows-1:<br>
                    print(i+k, end=" ")<br>
                    count+=1<br>
                else:<br>
                    count1+=1<br>
                    print(i+k-(2*count1), end=" ")<br>
                k += 1<br>
            
            count1 = count = k = 0<br>
            print()<br>

      </code>
      <br>
      <br>
  <strong>Output</strong>
      <br>
      <code>
          1<br>
        2 3 2<br> 
      3 4 5 4 3<br>
    4 5 6 7 6 5 4<br>
  5 6 7 8 9 8 7 6 5<br>
      </code>
</div>
The outer for loop iterates through each row.<br>
Here we use two counters count and count1 for printing the spaces and numbers respectively.<br>
The inner for loop prints the required spaces using formula (rows-i)+1, where rows is the total number of rows and i is the current row number.<br>
The while loop prints the numbers where 2 * i - 1 gives the number of items in each row.<br>
</div>
</div>
</div>
</div><br><br>
</div>

{% endblock %}