
{% extends 'base.html' %}


{% block title %}LCM{% endblock %}
{% block body%}
<div class="container">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
  <br>
  <div class="list-group" style="max-width: 380px;">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    C++ Example
  </a>
   <a href="{% url 'cplus' %}" class="list-group-item list-group-item-action">Print Hello world!</a>
  <a href="{% url 'cpadd' %}" class="list-group-item list-group-item-action">Add Two Numbers</a>
  <a href="{% url 'cpnum' %}"class="list-group-item list-group-item-action">Print Number Entered by User</a>
  <a href="{% url 'cpswap' %}" class="list-group-item list-group-item-action">Swap Two Variables</a>
  <a href="{% url 'cpleap' %}" class="list-group-item list-group-item-action">Check Leap Year</a>
  <a href="{% url 'factno' %}" class="list-group-item list-group-item-action">Find the Factorial of a Number</a>
  <a href="{% url 'cpprime' %}" class="list-group-item list-group-item-action">Check Prime Number</a>
  <a href="{% url 'cpmul' %}" class="list-group-item list-group-item-action">Multiply Two Numbers</a>
  <a href="{% url 'cppyramid' %}" class="list-group-item list-group-item-action">Create Pyramid and Pattern</a>
  <a href="{% url 'cpascii' %}" class="list-group-item list-group-item-action">Find ASCII Value of Character</a>
  <a href="{% url 'cpeveorodd' %}" class="list-group-item list-group-item-action">Check Whether Number is Even or Odd</a>
  <a href="{% url 'cpvoworcon' %}" class="list-group-item list-group-item-action"> Check Whether a character is Vowel or Consonant</a>
  <a href="{% url 'larnum' %}" class="list-group-item list-group-item-action">Find Largest Number Among Three Numbers </a>
  <a href="{% url 'cproot' %}" class="list-group-item list-group-item-action"> Find All Roots of a Quadratic Equation</a>
  <a href="{% url 'cpnatnum' %}" class="list-group-item list-group-item-action"> Calculate Sum of Natural Numbers</a>
  <a href="{% url 'cpmultab' %}" class="list-group-item list-group-item-action">Generate Multiplication Table </a>
  <a href="{% url 'cpfibo' %}" class="list-group-item list-group-item-action">Display Fibonacci Series </a>
  <a href="{% url 'cpgcd' %}" class="list-group-item list-group-item-action"> Find GCD</a>
  <a href="{% url 'cplcm' %}" class="list-group-item list-group-item-action"> Find LCM</a>
  <a href="{% url 'cprevnum' %}" class="list-group-item list-group-item-action">Reverse a Number </a>
  <a href="{% url 'cparmst' %}" class="list-group-item list-group-item-action">Check Armstrong Number </a>
</div>
    </div>
<div class="col-lg-6">
  <br>
  <h2>C++ Program to Find LCM</h2>
<br>
Examples on different ways to calculate the LCM (Lowest Common Multiple) of<br> two integers using loops and decision making statements.
    <div class="container- p-5 my-5 border" style="background-color:powderblue">
      <strong>
        Source code
      </strong>
      <br>
      <code>
        #include <iostream><br>
            using namespace std;<br>
            
            int main()<br>
            {<br>
                int n1, n2, max;<br>
            
                cout << "Enter two numbers: ";<br>
                cin >> n1 >> n2;<br>
                
                // maximum value between n1 and n2 is stored in max<br>
                max = (n1 > n2) ? n1 : n2;<br>
            
                do<br>
                {<br>
                    if (max % n1 == 0 && max % n2 == 0)<br>
                    {<br>
                        cout << "LCM = " << max;<br>
                        break;<br>
                    }<br>
                    else<br>
                        ++max;<br>
                } while (true);<br>
                
                return 0;<br>
            }

      </code>
      <br>
      <br>
  <strong>Output</strong>
      <br>
      <code>
        Enter two numbers: 12<br>
        18<br>
        LCM = 36
      </code>
</div>
In above program, user is asked to integer two integers n1 and n2 and largest<br> of those two numbers is stored in max.<br>

It is checked whether max is divisible by n1 and n2, if it's divisible by both<br> numbers, max (which contains LCM) is printed and loop is terminated.<br>

If not, value of max is incremented by 1 and same process goes on until max is<br> divisible by both n1 and n2.<br>
</div>
</div>
</div>
</div>
</div>

{% endblock %}