
{% extends 'base.html' %}


{% block title %} Check Prime Number{% endblock %}
{% block body%}
<div class="container">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
  <br>
  <div class="list-group" style="max-width: 380px;">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    C++ Example
  </a>
   <a href="{% url 'cplus' %}" class="list-group-item list-group-item-action">Print Hello world!</a>
  <a href="{% url 'cpadd' %}" class="list-group-item list-group-item-action">Add Two Numbers</a>
  <a href="{% url 'cpnum' %}"class="list-group-item list-group-item-action">Print Number Entered by User</a>
  <a href="{% url 'cpswap' %}" class="list-group-item list-group-item-action">Swap Two Variables</a>
  <a href="{% url 'cpleap' %}" class="list-group-item list-group-item-action">Check Leap Year</a>
  <a href="{% url 'factno' %}" class="list-group-item list-group-item-action">Find the Factorial of a Number</a>
  <a href="{% url 'cpprime' %}" class="list-group-item list-group-item-action">Check Prime Number</a>
  <a href="{% url 'cpmul' %}" class="list-group-item list-group-item-action">Multiply Two Numbers</a>
  <a href="{% url 'cppyramid' %}" class="list-group-item list-group-item-action">Create Pyramid and Pattern</a>
  <a href="{% url 'cpascii' %}" class="list-group-item list-group-item-action">Find ASCII Value of Character</a>
  <a href="{% url 'cpeveorodd' %}" class="list-group-item list-group-item-action">Check Whether Number is Even or Odd</a>
  <a href="{% url 'cpvoworcon' %}" class="list-group-item list-group-item-action"> Check Whether a character is Vowel or Consonant</a>
  <a href="{% url 'larnum' %}" class="list-group-item list-group-item-action">Find Largest Number Among Three Numbers </a>
  <a href="{% url 'cproot' %}" class="list-group-item list-group-item-action"> Find All Roots of a Quadratic Equation</a>
  <a href="{% url 'cpnatnum' %}" class="list-group-item list-group-item-action"> Calculate Sum of Natural Numbers</a>
  <a href="{% url 'cpmultab' %}" class="list-group-item list-group-item-action">Generate Multiplication Table </a>
  <a href="{% url 'cpfibo' %}" class="list-group-item list-group-item-action">Display Fibonacci Series </a>
  <a href="{% url 'cpgcd' %}" class="list-group-item list-group-item-action"> Find GCD</a>
  <a href="{% url 'cplcm' %}" class="list-group-item list-group-item-action"> Find LCM</a>
  <a href="{% url 'cprevnum' %}" class="list-group-item list-group-item-action">Reverse a Number </a>
  <a href="{% url 'cparmst' %}" class="list-group-item list-group-item-action">Check Armstrong Number </a>
</div>
    </div>
<div class="col-lg-6">
  <br>
  <h2>C++ Program to Check Whether a Number is Prime or Not</h2>
<br>
 Example to check whether an integer (entered by the user) is a prime number or not using for loop and if...else statement.
    <div class="container- p-5 my-5 border" style="background-color:powderblue">
      <strong>
        Source code
      </strong>
      <br>
      <code>
          #include <iostream><br>
using namespace std;<br>

int main() {<br>
    int i, n;<br>
    bool isPrime = true;<br>

    cout << "Enter a positive integer: ";<br>
    cin >> n;<br>

    // 0 and 1 are not prime numbers<br>
    if (n == 0 || n == 1) {<br>
        isPrime = false;<br>
    }<br>
    else {<br>
        for (i = 2; i <= n / 2; ++i) {<br>
            if (n % i == 0) {<br>
                isPrime = false;<br>
                break;<br>
            }<br>
        }<br>
    }<br>
    if (isPrime)<br>
        cout << n << " is a prime number";<br>
    else<br>
        cout << n << " is not a prime number";<br>

    return 0;<br>
}<br>
      </code>
      <br>
      <br>
  <strong>Output</strong>
      <br>
      <code>
Enter a positive integer: 29<br>
29 is a prime number.<br>
      </code>
</div>
This program takes a positive integer from the user and stores it in the variable n.<br>

Notice that the boolean variable isPrime is initialized to true at the beginning of the program.<br>

Since 0 and 1 are not prime numbers, we first check if the input number is one of those numbers or not. If the input number is either 0 or 1, then the value of isPrime is set to false.<br>

Else, the initial value of isPrime is left unchanged and the for loop is executed, which checks whether the number entered by the user is perfectly divisible by i or not.<br>


for (i = 2; i <= n / 2; ++i) {<br>
    if (n % i == 0) {<br>
        isPrime = false;<br>
        break;<br>
    }<br>
}<br>
The for loop runs from i == 2 to i <= n / 2 and increases the value of i by 1 with each iteration.<br>

The loop terminates at i == n / 2 because we cannot find any factor for n beyond the number n / 2. So, any iterations beyond n / 2 is redundant.<br>

If the number entered by the user is perfectly divisible by i, then isPrime is set to false and the number will not be a prime number.<br>

But if the input number is not perfectly divisible by i throughout the entirety of the loop, then it means that the input number is only divisible by 1 and that number itself.<br>

So, the given number is a prime number.<br>

In the case of n == 2, the for loop fails to run and the value of isPrime remains true.<br>
</div>
</div>
</div>
</div>
</div>

{% endblock %}