
{% extends 'base.html' %}


{% block title %}  Leap Year {% endblock %}
{% block body%}
<div class="container">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
  <br>
  <div class="list-group" style="max-width: 380px;">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Java Example
  </a>
   <a href="{% url 'java' %}" class="list-group-item list-group-item-action">Print Hello world!</a>
  <a href="{% url 'add' %}" class="list-group-item list-group-item-action">Add Two Integers</a>
  <a href="{% url 'swapnum' %}"class="list-group-item list-group-item-action">Swap Two Numbers</a>
  <a href="{% url 'evenodd' %}" class="list-group-item list-group-item-action">Check Whether a Number is Even or Odd</a>
  <a href="{% url 'vowel' %}" class="list-group-item list-group-item-action">Check Whether an Alphabet is Vowel or Consonant</a>
  <a href="{% url 'mul' %}" class="list-group-item list-group-item-action"> Multiply two Floating Point Numbers</a>
  <a href="{% url 'asciino' %}" class="list-group-item list-group-item-action">Find ASCII Value of a character</a>
  <a href="{% url 'alphabet' %}" class="list-group-item list-group-item-action">Check Whether a Character is Alphabet or Not</a>
  <a href="{% url 'fact' %}" class="list-group-item list-group-item-action">Find Factorial of a Number</a>
  <a href="{% url 'positive' %}" class="list-group-item list-group-item-action">Check Whether a Number is Positive or Negative</a>
  <a href="{% url 'larnum' %}" class="list-group-item list-group-item-action"> Find the Largest Among Three Numbers</a>
  <a href="{% url 'roots' %}" class="list-group-item list-group-item-action"> Find all Roots of a Quadratic Equation</a>
  <a href="{% url 'leapy' %}" class="list-group-item list-group-item-action">Check Leap Year </a>
  <a href="{% url 'multab' %}" class="list-group-item list-group-item-action"> Generate Multiplication Table </a>
  <a href="{% url 'fibo' %}" class="list-group-item list-group-item-action"> Display Fibonacci Series  </a>
  <a href="{% url 'gcd' %}" class="list-group-item list-group-item-action">  Find GCD of two Numbers </a>
  <a href="{% url 'lcm' %}" class="list-group-item list-group-item-action">  Find LCM of two Numbers </a>
  <a href="{% url 'alph' %}" class="list-group-item list-group-item-action">  Display Alphabets (A to Z) using loop </a>
  <a href="{% url 'countno' %}" class="list-group-item list-group-item-action">   Count Number of Digits in an Integer </a>
  <a href="{% url 'palin' %}" class="list-group-item list-group-item-action"> Check Palindrome </a>
</div>
    </div>
<div class="col-lg-6">
  <br>
  <h2>Java Program to Check Leap Year</h2>
<br>
In this program, you'll learn to check if the given year is a leap year or not. This is checked using a if else statement.
    <div class="container- p-5 my-5 border" style="background-color:powderblue">
      <strong>
        Source code
      </strong>
      <br>
      <code>
        public class Main {<br>

            public static void main(String[] args) {<br>
          
              // year to be checked<br>
              int year = 1996;<br>
              boolean leap = false;<br>
          
              // if the year is divided by 4<br>
              if (year % 4 == 0) {<br>
          
                // if the year is century<br>
                if (year % 100 == 0) {<br>
          
                  // if year is divided by 400<br>
                  // then it is a leap year<br>
                  if (year % 400 == 0)<br>
                    leap = true;<br>
                  else<br>
                    leap = false;<br>
                }<br>
                
                // if the year is not century<br>
                else<br>
                  leap = true;<br>
              }<br>
              
              else<br>
                leap = false;<br>
          
              if (leap)<br>
                System.out.println(year + " is a leap year.");<br>
              else<br>
                System.out.println(year + " is not a leap year.");<br>
            }<br>
          }
      </code>
      <br>
      <br>
  <strong>Output</strong>
      <br>
      <code>
        1900 is not a leap year.
      </code>
</div>
In the above example, we are checking if the year 1900 is a leap year or not. <br>Since 1900 is a century year (ending with 00), it should be divisible by both 4 and<br> 400 to be a leap year.
</div>
</div>
</div>
</div>
</div>

{% endblock %}