
{% extends 'base.html' %}


{% block title %} Check Palindrome {% endblock %}
{% block body%}
<div class="container">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
  <br>
  <div class="list-group" style="max-width: 380px;">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Java Example
  </a>
  <a href="{% url 'java' %}" class="list-group-item list-group-item-action">Print Hello world!</a>
  <a href="{% url 'add' %}" class="list-group-item list-group-item-action">Add Two Integers</a>
  <a href="{% url 'swapnum' %}"class="list-group-item list-group-item-action">Swap Two Numbers</a>
  <a href="{% url 'evenodd' %}" class="list-group-item list-group-item-action">Check Whether a Number is Even or Odd</a>
  <a href="{% url 'vowel' %}" class="list-group-item list-group-item-action">Check Whether an Alphabet is Vowel or Consonant</a>
  <a href="{% url 'mul' %}" class="list-group-item list-group-item-action"> Multiply two Floating Point Numbers</a>
  <a href="{% url 'asciino' %}" class="list-group-item list-group-item-action">Find ASCII Value of a character</a>
  <a href="{% url 'alphabet' %}" class="list-group-item list-group-item-action">Check Whether a Character is Alphabet or Not</a>
  <a href="{% url 'fact' %}" class="list-group-item list-group-item-action">Find Factorial of a Number</a>
  <a href="{% url 'positive' %}" class="list-group-item list-group-item-action">Check Whether a Number is Positive or Negative</a>
  <a href="{% url 'larnum' %}" class="list-group-item list-group-item-action"> Find the Largest Among Three Numbers</a>
  <a href="{% url 'roots' %}" class="list-group-item list-group-item-action"> Find all Roots of a Quadratic Equation</a>
  <a href="{% url 'leapy' %}" class="list-group-item list-group-item-action">Check Leap Year </a>
  <a href="{% url 'multab' %}" class="list-group-item list-group-item-action"> Generate Multiplication Table </a>
  <a href="{% url 'fibo' %}" class="list-group-item list-group-item-action"> Display Fibonacci Series  </a>
  <a href="{% url 'gcd' %}" class="list-group-item list-group-item-action">  Find GCD of two Numbers </a>
  <a href="{% url 'lcm' %}" class="list-group-item list-group-item-action">  Find LCM of two Numbers </a>
  <a href="{% url 'alph' %}" class="list-group-item list-group-item-action">  Display Alphabets (A to Z) using loop </a>
  <a href="{% url 'countno' %}" class="list-group-item list-group-item-action">   Count Number of Digits in an Integer </a>
  <a href="{% url 'palin' %}" class="list-group-item list-group-item-action"> Check Palindrome </a>
</div>
    </div>
<div class="col-lg-6">
  <br>
  <h2>Java Program to Check Palindrome</h2>
<br>
In this program, you'll learn to check whether a string or number is palindrome or not in Java.
    <div class="container- p-5 my-5 border" style="background-color:powderblue">
      <strong>
        Source code
      </strong>
      <br>
      <code>
        class Main {<br>
            public static void main(String[] args) {<br>
          
              String str = "Radar", reverseStr = "";<br>
              
              int strLength = str.length();<br>
          
              for (int i = (strLength - 1); i >=0; --i) {<br>
                reverseStr = reverseStr + str.charAt(i);<br>
              }<br>
          
              if (str.toLowerCase().equals(reverseStr.toLowerCase())) {<br>
                System.out.println(str + " is a Palindrome String.");<br>
              }<br>
              else {<br>
                System.out.println(str + " is not a Palindrome String.");<br>
              }<br>
            }<br>
          }
          
      </code>
      <br>
      <br>
  <strong>Output</strong>
      <br>
      <code>
        Radar is a Palindrome String.
      </code>
</div>
In the above example, we have a string "Radar" stored in str. Here, we have used the
 for loop to reverse the string
</div>
</div>
</div>
</div>
</div>

{% endblock %}