 <div class="footer">
  <div class="row">
    <div class="col">
<img src="{% static 'images/logo.png' %}" alt="" width="250" height="50" hspace="15"><br><br><br>
Designed and built with all love in the universe by the Programs Hub team with the help of supporters.<br>


    </div>
    <div class="col">
      <b>Links</b><br>
        <a href="{%url 'index' %}">Home</a><br>
        <a href="{%url 'projects' %}">Projects</a><br>
        <a href="{%url 'aboutus' %}">About Us</a><br>
        <a href="{%url 'contactus' %}">Contact Us</a>
    </div>
    <div class="col">
      <b>Languages</b><br>
         <a href="{%url 'python' %}">Python Examples</a><br>
        <a href="{%url 'jv' %}">Java Examples</a><br>
        <a href="{%url 'cp' %}">C++ Examples</a><br>
        <a href="{%url 'cc' %}">C Examples</a><br>
    </div>
      <div class="col">
          <h4>Get Connected With Us</h4><br>
          <img src="{% static 'images/github.png' %}" alt="" width="40" height="40" hspace="15">
          <img src="{% static 'images/insta.png' %}" alt="" width="45" height="40" hspace="15">
          <img src="{% static 'images/fb.png' %}" alt="" width="40" height="40" hspace="15">
          <img src="{% static 'images/link.png' %}" alt="" width="40" height="40" hspace="15">
    </div>
  </div>
</div>